{% extends 'base.html' %}

{% block content %}
{% load crispy_forms_tags %}


<div style="margin-top: 150px;" class="container">
    <h3>Update Profile</h3>
    <div class="row">
        <div class="col-12">
            <form style="margin-top: 20px;" action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <fieldset class="form-group">
        {{user|crispy}}

        {{profile|crispy}}
    </fieldset>

    <div class="form-group">
        <button type="submit" class="btn btn-success">Update</button>
    </div>

</form>
        </div>
    </div>
</div>

{% endblock %}
