{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}

<div style="margin-top: 30px;" class="container">
    <div class="row">
        <div class="col-12">
            <h3 style="margin-top: 100px;">Enter new password</h3>
            <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
            <form method="post">
            {% csrf_token %}
                {{form | crispy}}
                <input class="btn btn-success" type="Submit" value="Change">
            </form>
        </div>
    </div>
</div>

{% endblock %}