{% extends 'base.html' %} {% block content %}

<div style="margin-top: 120px;" class="custom-breadcrumns border-bottom">
    <div class="container">
        <a href="{% url 'landing-page' %}">Home</a>
        <span class="mx-3 icon-keyboard_arrow_right"></span>
        <span class="current">Gallery</span>
    </div>
</div>
{% if images %}

<div style="margin-left: 50px;margin-right: 50px;margin-top: 50px;" class="gallery" id="gallery">
    {% for image in oneimage %}
    <div class="mb-3 pics animation all 2">
        <a href=""> <img class="img-fluid" src="{{image.image.url}}" alt="Card image cap"></a>
    </div>
    {% endfor %} {% for img in images %}
    <div class="mb-3 pics animation all 2">
        <a href=""> <img class="img-fluid" src="{{ img.image.url }}" alt="Card image cap"></a>
    </div>
    {% endfor%}
</div>
{% else %}
<div style="margin-top: 200px;" class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>We do not have any gallery items</h2>
            <h4>Thank you for visiting!</h4>
        </div>
    </div>
</div>
{% endif %} {% endblock %}